{% extends 'inicio.html' %}


{% block contenido %}
<section class="page-section bg-primary" id="clases">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Aquí vas a encontrar nuestras clases</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Tenemos una clase para vos. Nuetras clases son personalizadas según tu necesidad</p>
                <ul>
                    
                    {% for clases in clases %}
                        <li>
                            <a href="{%url 'Clasesdetail' clases.id %}"style="color:black;">
                            {{clases.nombre}}
                            </a>
                        </li>
                        <div>
                            <button>
                                <a href="{% url 'deleteclases' clases.id %}">Eliminar</a>
                            </button>
                        </div>
                        <div>
                            <button>
                                <a href="{% url 'updateclases' clases.id %}">Editar</a>
                            </button>
                        </div>
                    {% endfor %}
                        
                </ul>
                <a class="btn btn-light btn-xl" href="{%url 'Register' %}">Registrarse</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    