{% extends 'inicio.html' %}


{% block contenido %}
    
        
    

<section class="page-section" id="profesores">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Conoce nuestro staff de profesores</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Isaias</h3>
                    <p class="text-muted mb-0">Isaias es nuestro profesor dedicado al alto rendimiento</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Marcelo</h3>
                    <p class="text-muted mb-0">Marcelo es nuestro profe dedicado al entrenamiento en personas con patologias</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Nicolas</h3>
                    <p class="text-muted mb-0">Nicolas es nuestro profesor especializado en la parte deportiva</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Solana</h3>
                    <p class="text-muted mb-0">Solana es nuestra nutricionista para todos los alumnos</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
